<!DOCTYPE html>
<html>
    <head>
        {{! Document Settings }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {{! Page Meta }}
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {{! Removes Microsoft Edge Phone Number Styling  }}
        <meta name="format-detection" content="telephone=no">

        {{! CSS  }}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Lora:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{asset "css/screen.css"}}">

        {{! Highlight.js  }}
        <link rel="stylesheet" href="{{asset "js/highlight/styles/atom-one-dark.css"}}">
        <style>  
            pre {
                word-wrap: normal;
                -moz-hyphens: none;
                -ms-hyphens: none;
                -webkit-hyphens: none;
                hyphens: none;
                line-height: 1.4em;
                margin: 1.5em 0 2.5em;
                border: 1px solid #000;
                border-radius: 5px;
            }
            pre code, pre tt {
                padding:20px !important;
                white-space: pre;
            }
        </style>  
        
        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}

    </head>
    <body class="{{body_class}}">
        
        <header class="site-header push">
            {{> "header"}}                  
        </header>

        {{#if @blog.navigation}}
            <nav class="pushy pushy-left">
                {{navigation}}
            </nav>
        {{/if}}

        <div class="site-overlay"></div>

        <main class="animated fadeIn" id="main" role="main">
            {{{body}}}
        </main>

        <footer class="site-footer push">
            {{> "footer"}}
        </footer>

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}

        <script type="text/javascript"> 
            //Load jQuery if it doesn't exist
            if (typeof jQuery == 'undefined') {
                document.write('<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></'+'script>');
            }
        </script> 

        <script src="{{asset "js/theme-options.js"}}"></script>
        <script src="{{asset "js/main.min.js"}}"></script>
        {{! Highlight.js  }}
        <script src="{{asset "js/highlight/highlight.pack.js"}}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
